@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url(./modal.css);

/* Estilos generales */
body {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    transition: background-color 0.3s, color 0.3s;
}

/* Estilo del encabezado */
header {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px 0;
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
    justify-content: center;
    /* Centra los elementos horizontalmente */
    position: relative;
}

h1 {
    margin: 0;
}

header h1 {
    padding-left: 80px;
    flex: 1;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}

#like-button {
    padding: 1px 6px;
    position: relative;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

#theme-toggle {
    position: relative;
}

/* Estilos del contenedor principal */
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 10px 10px 60px;
    box-sizing: border-box;
}

/* Estilos del carrusel */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.product-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.product {
    flex: 0 0 100%;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.img-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-product img {
    width: 100%;
    height: auto;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 0 10px;
    background: rgb(255, 105, 180);
    background: radial-gradient(circle, rgba(255, 105, 180, 1) 0%, rgba(254, 180, 123, 0.7091211484593838) 100%);
}

.info {
    flex: 1;
    text-align: left;
    padding: 10px 0;
}

.info h2,
.info h3,
.info p {
    margin: 0;
}

.cart {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart a {
    text-decoration: none;
    color: inherit;
}

.cart i {
    width: 24px;
    height: 24px;
    font-size: 24px;
}



.like {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.like a {
    text-decoration: none;
    color: inherit;
}

.like i {
    width: 24px;
    height: 24px;
    font-size: 24px;
}

.like:active i,
.cart:active i {
    color: red;
}


/* Estilos de los botones del carrusel */
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

/* Estilos del footer y menú inferior */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 56px;
    background-color: #000;
}

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-item {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.nav-item i {
    font-size: 24px;
}

.nav-item span {
    display: block;
    font-size: 12px;
}

.nav-item.active {
    background-color: #ff4f77;
    padding: 10px;
}

/* Estilos del modo oscuro */
body.dark-theme {
    background-color: #333;
    color: #f5f5f5;
}

body.dark-theme header {
    background-color: #222;
}

body.dark-theme .carousel-button {
    background-color: #838383;
}

body.dark-theme .product {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.dark-theme .product p {
    color: #f5f5f5;
}

body.dark-theme .categories h1 {
    color: #f5f5f5;
}

body.dark-theme .item,
body.dark-theme .item-like,
body.dark-theme .tag,
body.dark-theme .item-like button {
    background-color: #838383;
    color: #f5f5f5;
}

/* Estilos de la sección de categorías */
.categories-container {
    margin-top: 10px;
    width: 100%;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.category {
    flex: 0 0 30%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 8px;
    background: -webkit-linear-gradient(90deg, #8e90dd, #c097dc, #e6a1d7);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #8e90dd, #c097dc, #e6a1d7);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    transition: background 0.3s ease;
}

.category h3 {
    font-size: 1.125rem;
    margin: 0;
}

.category a {
    color: #000;
    text-decoration: none;
}

/* Hover effect */
.category:hover {
    background: linear-gradient(to right, #feb47b, #ff7e5f);
}

/* Responsive Design para categorías */
@media (max-width: 768px) {
    .category {
        flex: 0 0 45%;
    }
}

@media (max-width: 480px) {
    .category {
        flex: 0 0 100%;
    }
}