.product-list {
    width: 100%;
}

.product-list h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item {
    box-shadow: 1px 6px 6px -3px rgba(66, 65, 66, 0.68);
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 8px;
    background-color: #fff;
    margin-bottom: 10px;
}

.item-image {
    width: 75px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.item-details {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.item-name {
    font-size: 16px;
    font-weight: bold;
}

.item-size {
    font-size: 14px;
    color: #666;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    flex-basis: 100px;
}

.item-delete {
    background-color: #ff4f77;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-list-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}

.item-like {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 1px 6px 6px -3px rgba(66, 65, 66, 0.68);
    border-radius: 8px;
}

.item-like img {
    width: 100px;
    height: auto;
}

.item-like button {
    color: black;
    margin-top: auto;
    align-self: flex-end;
    z-index: 0 !important;
}