.product-list h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 10px 0;
}

.item-list {
    display: flex;
    flex-direction: column;
}

.item {
    /* border: 1px solid #000; */
    box-shadow: 1px 6px 6px -3px rgba(66,65,66,0.68);
    border-radius: 8px;
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    padding: 4px;
    gap: 15px; /* Espacio entre elementos dentro del item */
    background-color: #fff; /* Color de fondo blanco para los ítems */
    margin-bottom: 10px;
}

.item-image {
    width: 100px; /* Tamaño de la imagen */
    height: 100px; /* Tamaño de la imagen */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Opcional: bordes redondeados para la imagen */
}

.item-details {
    display: flex;
    flex-direction: column;
    flex: 1; /* Permite que el contenedor de detalles ocupe el espacio disponible */
}

.item-name {
    font-size: 16px;
    font-weight: bold;
}

.item-size {
    font-size: 14px;
    color: #666; /* Color más tenue para la talla */
}

.item-price {
    font-size: 16px;
    font-weight: bold;
    text-align: right; /* Alinea el precio a la derecha */
    flex-basis: 100px; /* Espacio mínimo para el precio */
}

.item-delete {
    background-color: red; /* Color de fondo del botón de eliminar */
    color: #fff; /* Color del texto del botón de eliminar */
    border: none;
    border-radius: 5px; /* Bordes redondeados para el botón */
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-delete i {
    margin-right: 5px; /* Espacio entre el icono y el texto del botón */
}
