@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

/* Reseteo básico */
* {
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definición del contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-container input {
    margin: 8px 0;
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px solid #ccc;
    transition: border-color 0.3s;
}

.input-container input:focus {
    outline: none;
    border-bottom: 2px solid #ff4f77;
}

.input-container label {
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
    /* top: -15px; */
    font-size: 16px;
    color: #ff4f77;
}

button {
    background-color: rgba(255, 255, 255, 0);
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;
    z-index: 1;
}

.btn {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    text-align: center;
    padding: 30px 20px;
    border-radius: 8px;
    background: -webkit-linear-gradient(90deg, #8e90dd, #c097dc, #e6a1d7);
    background: linear-gradient(90deg, #8e90dd, #c097dc, #e6a1d7);
    transition: background 0.3s ease;
}

.register-link {
    text-align: center;
    margin-top: 15px;
}

.register-link a {
    color: #ff4f77;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

/* Solo para móviles */
@media only screen and (max-width: 600px) {
    .login-box {
        padding: 15px;
        width: 100%;
        margin: 0 10px;
    }

    h2 {
        font-size: 1.5rem;
    }
}
